<div class="pip-grouped-grid pip-grouped-grid" ng-class="{'pip-grouped-grid-xs flex': $ctrl.pipMedia('xs')}" id="TileGroup">

	<div class="pip-grouped-grid pip-scroll" style="margin: 0 auto;">
		<div pip-focused pip-focused-opacity="true" pip-focused-tabindex="0" > <!--pip-focused-data="{{$ctrl.pages}}"-->
			<div class="pip-group" ng-repeat="page in $ctrl.pages" ng-class="{'pip-group-xs': $ctrl.pipMedia('xs'), 'pip-group-md': $ctrl.pipMedia('sm') || $ctrl.pipMedia('md')}">
				<div class="pip-title-group" ng-if="page.Name">
					{{page.Name}}
				</div>
				<div tabindex="-1" ng-repeat="item in page.Items" 
                    ng-click="$ctrl.gotoDetails(item)" class="pip-focusable pip-tile {{$ctrl.defaultColor}} {{item.Color}}"
					ng-class="{'bg-color-8' : !item.Color && !$ctrl.defaultColor ,
                                'pip-tile-xs flex': $ctrl.pipMedia('xs')}">
					<div class="pip-badge {{item.ColorBadge}}" ng-show="item.Count > 0">
						{{item.Count}}
					</div>
					<md-icon md-svg-icon="{{item.Icon}}" class="pip-grid-icon" ng-if="item.Icon"></md-icon>
					<md-icon md-svg-icon="icons:connections" class="pip-grid-icon" ng-if="!item.Icon && !item.defaultIcon"></md-icon>
                    <md-icon md-svg-icon="{{item.defaultIcon}}" class="pip-grid-icon" ng-if="!item.Icon && item.defaultIcon"></md-icon>
					<div class="text-overflow pip-text">
						{{::item.Name}}
					</div>
				</div>
			</div>
		</div>